@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select-none {
    -webkit-user-select: none;
    user-select: none;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

/* FIX IOS ALIGNED DATE INPUT */
input::-webkit-date-and-time-value {
  text-align: left;
}

/* FIX IOS PADDING DATE AND TIME INPUT */
input::-webkit-datetime-edit {
  padding: 0;
}

/* FIX IOS COLOR DATE AND TIME INPUT */
input[disabled]::-webkit-datetime-edit-year-field,
input[disabled]::-webkit-datetime-edit-month-field,
input[disabled]::-webkit-datetime-edit-day-field,
input[disabled]::-webkit-datetime-edit-hour-field,
input[disabled]::-webkit-datetime-edit-minute-field,
input[disabled]::-webkit-datetime-edit-second-field,
input[disabled]::-webkit-datetime-edit-millisecond-field,
input[disabled]::-webkit-datetime-edit-meridiem-field,
input[disabled]::-webkit-datetime-edit-text {
  color: inherit;
}

/* Aos */
.aos-init {
  will-change: opacity, transform;
}

html:not(.no-js) [data-aos^='fade'][data-aos^='fade'] {
  @apply !translate-y-12 !opacity-0;
}

html:not(.no-js) [data-aos^='fade'][data-aos^='fade'].aos-animate {
  @apply !translate-y-0 !opacity-100;
}
